<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LobbyEnabled</key>
	<false/>
	<key>PushNotificationToken</key>
	<data></data>
	<key>LeaderboardsEnabled</key>
	<true/>
	<key>NetworkMatchEnabled</key>
	<true/>
	<key>ItemsEnabled</key>
	<true/>
	<key>AchievementsEnabled</key>
	<true/>
	<key>FriendsEnabled</key>
	<true/>
	<key>SettingsEnabled</key>
	<true/>
	<key>iPadZoomEnabled</key>
	<false/>
	<key>FinishDisplayEnabled</key>
	<true/>
	<key>AutorotateEnabled</key>
	<false/>
	<key>DisableRotationInIPhone</key>
	<true/>
	<key>RTTThreshold</key>
	<integer>500</integer>
</dict>
</plist>
